:root {
  --color-purple: #8c52ff;
  --color-purple-dark: #6239b3;
  --color-green: #;
  --color-brand--1: #f9c73d;
  --color-brand--2: #71f55f;

  --color-dark--1: #222427;
  --color-dark--2: #292339;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  display: flex;
}

/* RESET */
button {
  background: none;
  border: none;
  border-spacing: 0;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-indent: 0;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

.app {
  background-color: var(--color-purple);
  padding: 2rem;
  display: flex;
  width: 100%;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}

.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts__options {
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
  margin-bottom: 3rem;
}

.workouts__sort {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: var(--color-purple);
  border-radius: 5px;
  color: var(--color-light--2);
  font-weight: 700;
  cursor: pointer;
  border: none;
  outline: none;
}

.workouts__delete {
  margin-block: 1rem;
  display: flex;
  justify-content: flex-end;
}

.workouts__delete-btn {
  color: var(--color-brand--2);
  font-size: 1.5rem;
  font-weight: 700;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    color: red;
  }
}

.hidden {
  display: none;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout,
.editForm {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem 1.5rem;
}

.workout__options {
  grid-column: 4/5;
  grid-row: 2/3;

  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.workout__edit {
  height: 2.2rem;
  width: 2.2rem;
  color: var(--color-brand--2);
  &:hover {
    color: yellow;
  }
}

.workout__delete,
.workout__safe {
  justify-self: end;
  text-align: center;
  color: var(--color-brand--2);
  font-size: 1.5rem;
  font-weight: 700;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    color: red;
  }
}

.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.form,
.editForm {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.editForm {
  background-color: #00c46a;
  height: fit-content;
}
.editForm .form__label {
  color: black;
}

.editForm .workout__title {
  color: black;
}
.editForm.hidden {
  display: none;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input,
.form__input-e {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  z-index: 10;
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: var(--color-light--1);
}
.marker {
  filter: hue-rotate(45deg);
}

.map__container {
  height: 100%;
  width: 100%;

  position: relative;
}

/* MAP Loader  */

.map__loader {
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: var(--color-purple-dark);
  z-index: 25;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.map__loader.hidden {
  display: none;
}

.map__loader-icon {
  width: 20.4rem;
  height: 20.4rem;
  color: var(--color-brand--2);

  animation: upDown 1s infinite;
}

.map__loader-p {
  font-size: 3.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--color-brand--1);
}

.map__loader-p-icon {
  color: var(--color-brand--1);
  width: 3.4rem;
  height: 3.4rem;
  animation: rotation 1s infinite;
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}

/* Styling Popup Delete */

.popup__layer.hidden {
  display: none;
}

.popup__layer {
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;
}

.popup__delete {
  background-color: var(--color-purple);
  z-index: 30;
  width: 60rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.popup__heading {
  text-align: center;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
}

.popup__btn-container {
  display: flex;
  gap: 5rem;
}

.popup__btn {
  font-size: 2.2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.popup__btn--danger {
  background-color: #d90429;

  font-weight: 700;
}

.popup__btn--neutral {
  font-size: 2.2rem;
  background-color: #222427;
}

/* ANIMATIONS */

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
